<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <p th:insert="head.html"></p>
    <body>
        <div id="wszystko">
	        <p th:insert="gornyPanel.html"></p>
	        <p th:insert="lewyPanel.html"></p>
	        <div id="zawartosc">
	        <h1>Dodaj użytkownika</h1>
	         <form action="#" th:action="@{/dodaj_uzytkownika}" th:object="${u}" method="post">
				 <table>
					<tr>
						<td class="none">Login: </td>
						<td class="none"><input type="text" th:field="*{iduzytkownika}" th:required/></td>
					</tr>
					<tr>
						<td class="none">Haslo: </td>
						<td class="none"><input type="password" th:field="*{haslo}" th:required/></td>
					</tr>
					<tr>
						<td class="none">Email: </td>
						<td class="none"><input type="email" th:field="*{email}" th:required/></td>
					</tr>
				 </table>
				 <p align="center"><input type="submit" value="Dodaj!" align="middle"/></p>
				</form>
			</div>
		</div>      
    </body>
</html>