<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <p th:insert="head.html"></p>
<body>
<div id="wszystko">
	<h3>Efit</h3>
	<a href="/hub_uzytkownik">Hub użytkownika</a>
	</br>
	</br>
	<a href="/hub_admin">Hub administratora</a>
	</br>
	</br>
	<a href="/rejestracja">Rejestracja</a>
	</br>
	</br>
	<a href="/logowanie">Logowanie</a>
	</br>
	</br>
</div>
</body>
</html>