<nav>
	
	<!--@if(Auth::check() && Auth::user()->name=='admin')-->
    <div id="gornyPanel">
        <div>
            <a id="pierwszy" class="tytul">Cwiczenia:</a>
            <table>
                <tr>
                    <td><a href="/cwiczenie_list">Lista</a></td>
                    <td><a href="/new_cwiczenie">Dodaj</a></td>
                </tr>
            </table>
        </div>
    </div>
	
	<!-- 
    <div id="gornyPanel">
        <a id="pierwszy" class="tytul">Rozk³ad planu:</a>
        <table>
            <tr>
                <td><a href="{{config('app.url')}}/poniedzialek">Poniedzialek</a></td>
                <td><a href="{{config('app.url')}}/wtorek">Wtorek</a></td>
                <td><a href="{{config('app.url')}}/sroda">Sroda</a></td>
                <td><a href="{{config('app.url')}}/czwartek">Czwartek</a></td>
                <td><a href="{{config('app.url')}}/piatek">Pi¹tek</a></td>
                <td><a href="{{config('app.url')}}/sobota">Sobota</a></td>
                <td><a href="{{config('app.url')}}/niedziela">Niedziela</a></td>
            </tr>
        </table>
    </div>
     -->
</nav>