<nav>
<meta charset="UTF-8" /> 
    <div id="gornyPanel">
        <a id="pierwszy" class="tytul">Rozkład planu:</a>
        <table>
            <tr>
                <td><a href="/poniedzialek">Poniedziałek</a></td>
                <td><a href="/wtorek">Wtorek</a></td>
                <td><a href="/sroda">Środa</a></td>
                <td><a href="/czwartek">Czwartek</a></td>
                <td><a href="/piatek">Piątek</a></td>
                <td><a href="/sobota">Sobota</a></td>
                <td><a href="/niedziela">Niedziela</a></td>
            </tr>
        </table>
    </div>
</nav>