<nav>
    <div id="lewyPanel">
    <table>
      	<tr>
	        <td><a href="/hub_admin">Strona startowa</a></td>
	    </tr>
        <tr>
            <td><a class="tytul">Rodzaje cwiczen:</a></td>
        </tr>
        <tr>
            <td><a href="/rodzajcwiczenia_list">Lista</a></td>
        </tr>
        <tr>
            <td><a href="/new_rodzajcwiczenia">Dodaj</a></td>
        </tr>
        <tr>
            <td><a class="tytul">Klienci:</a></td>
        </tr>
        <tr>
        	<td><a href="/lista_uzytkownikow">Lista</a>
        </tr>
        <tr>
        	<td><a href="/dodaj_uzytkownika">Dodaj</a>
        </tr>
        <tr>
            <td><a href="/wyloguj">Wyloguj</a></td>
        </tr>
    </table>
    </div>
</nav>