<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <p th:insert="head.html"></p>
    <body>
        <div id="wszystko">
	        <p th:insert="gornyPanel.html"></p>
	        <p th:insert="lewyPanel.html"></p>
	        <div id="zawartosc">
	                <h1>Dodaj rodzaj cwiczenia:</h1>
	                <br/>
	                <form action="#" th:action="@{/save_rodzajcwiczenia}" th:object="${r}" method="post">
		                <p align="center">Nazwa: <input type="text" th:field="*{idrodzajucwiczenia}" th:required/></p>
						<button type="submit">Dodaj!</button>
 					</form>
			</div>
		</div>      
    </body>
</html>